<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%- include ('partials/head') %>

    <title><%=title%></title>
</head>
<body>

    <%- include ('partials/navegation')%>


    <section class="container vh-100 d-flex justify-content-center align-items-center">
        <div class="d-flex flex-column justify-content-center align-items-center">
            <img src="/img/img4.png" style="position: absolute; height: 1100px;  z-index: -1;">
            
           <h1 class="display-1 d-flex"> Servicios </h1>
           <p class="d-flex justify-content-center"> 
            SALA COWORKING:

        Presenta un equilibrio entre lo simbólico y funcional,
        enfocado a ofrecer espacios de trabajo colaborativo en donde se promueven las condiciones necesarias para el desarrollo de su negocio, 
        reuniones de trabajo, creación de ideas innovadoras, capacitación y emprendimiento. 
        El aporte emocional no menos importante por los fuertes vínculos de compañerismo y colaboración que se espera desarrollar entre sus miembros. 
        <br>
«Si buscas resultados distintos, no hagas siempre lo mismo.»

Albert Einstein.

    <p class="d-flex justify-content-center"> 
INSTALACIONES:

    Nuestro COWORKING MARTHA STELLA VELÁSQUEZ, se destaca por ser un lugar con un excelente ambiente,bajo el lema «buena vida,
    buen trabajo» busca que los usuarios tengan acceso a absolutamente todas las comodidades y herramientas que se necesitan para llevar a cabo sus labores profesionales,
    comerciales o laborales aportando beneficios como creación de comunidad, flexibilidad, ahorro, atracción de talento humano y profesionalidad.

 
    </p>
    </section>
    
    <p>Tu mejor eleccion</p>
   
    
</body>
<%- include ('partials/footer')%>
</html>
