<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%- include ('partials/head') %>

    <title><%=title%></title>
</head>
<body>

    <%- include ('partials/navegation')%>

    <section class="container vh-100 d-flex justify-content-center align-items-center">
       <div class="d-flex flex-column justify-content-center align-items-center">
        <img src="/img/img6.png" style="position: absolute; height: 100%; width: 100%;  z-index: -1;">
           <h1 class="display-1 d-flex">Acerca de nosotros </h1>
           <p class="d-flex justify-content-center"> 
            Somos la Cooperativa Central de Caficultores del Huila, una empresa asociativa sin ánimo de lucro y de interés social. 
            Reunimos a cerca de 4.000 asociados en nuestra zona de influencia que comprende 7 municipios cafeteros del centro del Huila. 
            Garzón, Gigante, Agrado, Pital, Tarqui, Suaza y Guadalupe. Estamos comprometidos con nuestro medio
             ambiente y la sociedad, por esto nos preocupamos por ser económicamente viables, ambientalmente sostenibles y socialmente responsables.
           </p>
             <p class="d-flex justify-content-center"> 
             NUESTRA MISIÓN:

 Gracias a nuestro entusiasmo, trabajo y valores corporativos, queremos ser una Cooperativa responsable social y ambientalmente,
 donde nuestra prioridad siempre serán nuestros asociados, nuestros clientes, nuestros empleados y nuestra comunidad, a los cuales buscaremos generarles valor y bienenstar con productos y servicios de calidad,
 haciendo del agro un negocio posible y rentable mediante la innovación en sus procesos de prodcción, transformación y consumo de café.
             </p>
     <p class="d-flex justify-content-center"> 
         NUESTRA VISIÓN:

         En el 2027, como líderes transformamos el mercado del café y enseñamos el camino para que la actividad cafetera sea rentable y sostenible.     
           </p>
            
    </section>
    

    <%- include ('partials/footer')%>
    
</body>
</html>


